{% extends 'common/base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}
{% block title %} Login {% endblock title %}
{% block login_form %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
	<div class="row align-items-center g-lg-5 py-5">
	  <div class="col-lg-7 text-center text-lg-start">
		<h1 class="display-4 fw-bold lh-1 mb-3">{% trans "Grados Grading and Notification System" %}</h1>
		<p class="col-lg-10 fs-4">{% trans "is an educational system that focuses on the effectiveness of instruction and the mastery of skills or standards for a specific subject. It is an innovative approach to education that is often paired with a positive environment for learners who are actively engaged in learning." %}</p>
	  </div>
	  <div class="col-md-10 mx-auto col-lg-5">
		<form class="p-4 p-md-5 border rounded-3 bg-light" method="POST">
      {% csrf_token %}
      {% bootstrap_form_errors form %}
		  <div class="form-floating mb-3">
			<input type="text" name="username" class="form-control" id="floatingInput" placeholder="Username">
			<label for="floatingInput">{% trans "Username" %}</label>
      </div>
		  <div class="form-floating mb-3">
			<input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
			<label for="floatingPassword">{% trans "Password" %}</label>
    </div>
		  <div class="checkbox mb-3">
			<label>
			  <input type="checkbox" name="remember-me" value="remember-me"> {% trans "Remember me" %}
			</label>
		  </div>
		  <button class="w-100 btn btn-lg btn-danger" type="submit">{% trans "Login" %}</button>
		  <hr class="my-4">
		  <small class="text-muted">{% trans "By clicking Login, you agree to the terms of use." %}</small>
		</form>
	  </div>
	</div>
  </div>

{% endblock login_form %}