{% extends "common/base.html" %}
{% load i18n %}
{% block title %} {% trans "Logout" %} {% endblock title %}
{% block logout_hero %}
<div class="px-4 py-5 my-5 text-center">
	<i class="fa-solid fa-triangle-exclamation fa-2xl" style="color: #ff7800;"></i>
    <h1 class="display-5 fw-bold">{% trans "You already Loggged Out!!" %}</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">{% trans "Thank you again for using Grado Grading and Notification System. We are grateful for your time and look forward to continuing to use it in the future." %}</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="{% url 'accounts:accounts_login' %}" class="btn btn-danger btn-lg px-5 gap-3">{% trans "Login Again" %}</a>
      </div>
    </div>
  </div>
{% endblock logout_hero %}