{% load i18n %}
<div class="px-4 py-5 my-5 text-center">
	<i class="fa-solid fa-triangle-exclamation fa-2xl" style="color: #ff7800;"></i>
    <h1 class="display-3 fw-bold">{% trans "This page is In-Development" %}</h1>
    <h3 class="display-6 fw-bold">{% trans "Developers still working on it" %} </h3>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">{% trans "Thank you again for using Grado Grading and Notification System. We are grateful for your time and look forward to continuing to use it in the future." %}</p>
    </div>
  </div>
